DB_USER=
DB_PASSWORD=
DB_NAME=

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}"
CSP_SOLVER_URL=http://localhost:8000
SESSION_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
SENDGRID_API_KEY=
